#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  padding-right: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /*실제로 사라지는것이 아닌 마우스 클리만이 가능하게 한다*/
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh; /* 화면 높이의 100%를 의미함*/
  width: 100vw; /* 화면 넓이를 100%를 의미함*/
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  animation: hideSplashScreen 1s ease-in-out forwards; /*forwards 는 마지막 속성 값(
    final property value을 마지막 속성값은 마지막 kevframes으로 정해지고)애니메이션이 
    끝나고 유지한다*/

  animation-delay: 2s;
}
